/* Кликабельная область меню */
.primary-nav-trigger {
  position: absolute;
  right: 20%;
  top: 0;
  height: 100%;
  width: 60px; 
}

/* "Гамбургер" меню */
.primary-nav-trigger .menu-icon {
  display: inline-block;
  position: absolute;
  left: 50%; /*ИЗМЕНЕНО*/
  top: 50%;
  width: 39px;
  height: 2px;
  background-color: black;

 /* дописано */
  transform: translateX(-50%) translateY(-50%);
  transition: background-color 0.3s;
}
.primary-nav-trigger .menu-icon::before, .primary-nav-trigger .menu-icon:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  /* дописано */
  transition: transform .3s, top .3s, background-color 0s;
}
.primary-nav-trigger .menu-icon::before{
  top: -9px;
}
.primary-nav-trigger .menu-icon::after{
  top: 9px;
}

/* При открытом меню убрать среднюю полоску в "Гамбургере" */
.primary-nav-trigger .menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}

/* Поворот "Гамбургера" при открытии в крестик */
.primary-nav-trigger .menu-icon.is-clicked::before {
  top: 0;
  transform: rotate(135deg);
}
.primary-nav-trigger .menu-icon.is-clicked::after {
  top: 0;
  transform: rotate(225deg);
}

/* Стиль выпадающего меню */
.primary-nav {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 140px 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  backface-visibility: hidden;
  overflow: auto;
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 0.4s;
}
.primary-nav li {
  font-weight: 300;
  margin: .2em 0;
  font-size: 30px;
  text-transform: capitalize;
}

/* Появление при открытии */
.primary-nav.is-visible {
  transform: translateY(0);
}

/* Элемент меню */
.primary-nav a {
  display: inline-block;
  padding: 20px 1em;
  border-radius: 0.25em;
  transition: background 0.2s;
  color:#fff;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Наведение на элемент меню */
.primary-nav a:hover {
  background-color: #e36767;
}